@model BusinessLogic.Models.ChangePassword
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1>Change Password</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="breadcrumb-item active">ChangePassword</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                @using (Html.BeginForm("ChangePassword", "ChangePassword", FormMethod.Post))
                {
                    <div class="form-group">
                        @Html.LabelFor(m => m.CurrentPassword)
                        @Html.EditorFor(m => m.CurrentPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Current Password" } })
                        @Html.ValidationMessageFor(m => m.CurrentPassword, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.NewPassword)
                        @Html.EditorFor(m => m.NewPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "New Password" } })
                        @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Confirmpassword)
                        @Html.EditorFor(m => m.Confirmpassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Confirm Password" } })
                        @Html.ValidationMessageFor(m => m.Confirmpassword, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Update Password" class="btn btn-primary" />
                        </div>
                    </div>

                    if (ViewBag.Message != null)
                    {
                    <div class="@(ViewBag.Message[0] == "1" ? "text-danger" : "text-success")">
                        @ViewBag.Message[1]
                    </div>
                    }
                }
            </div>
        </div>
    </div>
</section>