@model BusinessLogic.Models.ChangePassword
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1>Change Password</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="breadcrumb-item active">ChangePassword</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                @using (Ajax.BeginForm("ChangePassword", "ChangePassword", new AjaxOptions { OnSuccess = "onSuccess" }))
                {
                    <div class="form-group">
                        @Html.LabelFor(m => m.CurrentPassword)
                        @Html.EditorFor(m => m.CurrentPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Current Password" } })
                        @Html.ValidationMessageFor(m => m.CurrentPassword, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.NewPassword)
                        @Html.EditorFor(m => m.NewPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "New Password" } })
                        @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Confirmpassword)
                        @Html.EditorFor(m => m.Confirmpassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Confirm Password" } })
                        @Html.ValidationMessageFor(m => m.Confirmpassword, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Update Password" class="btn btn-primary" />
                        </div>
                    </div>

                    <div class="modal fade" id="modal-UpdatedPassword" data-backdrop="static">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Change Password</h4>
                                </div>
                                <div class="modal-body m-3">
                                    <h3 class="text-center">Congratulations!</h3>
                                    <br>Your password has been successfully changed. To confirm your new password, you will be required to log back into the website.
                                </div>
                                <div class="modal-footer">
                                    <a href="#" class="btn btn-primary" onclick="location.href='@Url.Action("Logout", "LoginV2")'">Ok</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
    function onSuccess(showPopup) {
        if (showPopup) {
            Swal.fire(
                'Congratulations!!',
                'Your password has been successfully changed. To confirm your new password, you will be required to log back into the website.',
                'success'
            ).then(function () {
                location.href = "@Url.Action("Logout","LoginV2")";
            });
            // $("#modal-UpdatedPassword").modal('show');
        }
        else {
            toastr.error("Current Password is Incorrect.");
        }
    }
</script>